# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.eslintcache

# Maven / Backend
backend/target/
backend/.mvn/
backend/*.class
backend/.project
backend/.classpath
backend/.settings/
backend/*.iml
backend/.idea/

# General/OS/IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
